<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSHumanReadableCopyright</key>
        <string>(C) 2017, Dmitry Baryshev</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleIconFile</key>
        <string>plates.icns</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>OpenALPR Training Utility</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleExecutable</key>
        <string>plates</string>
        <key>CFBundleIdentifier</key>
        <string>net.plates</string>
        <key>CFBundleName</key>
        <string>OpenALPR Training Utility</string>
        <key>CFBundleDisplayName</key>
        <string>OpenALPR Training Utility</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0.0</string>
        <key>CFBundleVersion</key>
        <string>1.0.0</string>
</dict>
</plist>
